<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.brainbeats.basicbb">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.example.brainbeats.basicbb.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.brainbeats.basicbb.HeadsetService"
            android:label="Sample FFT">
        </activity>
        <activity
            android:name="com.example.brainbeats.basicbb.HeadsetCalibration"
            android:label="Headset Calibration">
        </activity>
        <service android:name="com.example.brainbeats.basicbb.MusicService"/>

        <activity
            android:name="com.example.brainbeats.basicbb.settings.PreferenceWithHeaders"
            android:label="@string/settings"
            android:parentActivityName="com.example.brainbeats.basicbb.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.brainbeats.basicbb.MainActivity"/>
        </activity>

        <activity android:name="com.example.brainbeats.basicbb.data.DeleteTagsActivity">
            <intent-filter>
                <action android:name="com.example.brainbeats.basicbb.DELETE_TAGS_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <provider
            android:authorities="com.example.brainbeats.basicbb"
            android:name=".data.TagProvider" />

    </application>

</manifest>